:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 1);
  background-color: #16303c !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  background-color: #16303c !important;
  margin-left: 3.5%;
  margin-right: 3.5%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

.search-box{
  background: #11252f;
  width: fit-content;
  height: 40px;
  border-radius: 40px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 14px;
  display: block;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.search-btn{
  color: #fffb00e0;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #11252f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
  cursor: pointer;
  background: #0f222b;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  padding: 0;
  text-indent: 1ch;
  color: white;
  opacity: 0.8;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  width: 240px;
  padding: 0 6px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  width: 90%;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#contents {
  background-color: #16303c !important;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  align-items: center;
}

#location {
  height: auto;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  align-content: space-around;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 5px;
}

.locationTarget {
  display: inline-block;
  padding: 10px;
  margin: 6px;
  background-color: #11252f;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
}

.locationTarget:hover {
  opacity: 1;
}

.locationTarget.active {
  opacity: 0.4;
}

#weeklyinfo {
  min-height: 80px;
  height: min-content;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 30px;
}


.dayTarget {
  display: inline-block;
  box-sizing: border-box;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  align-content: space-around;
  padding: 9px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #11252f;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.9;
}

.dayTarget__data {
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.dayTarget:hover {
  opacity: 1.0;
}

.dayTarget.active {
  opacity: 0.4;
}

#dailyinfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 30px;
}

.dataContainer {
  min-width: 45%;
  width: fit-content;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  align-content: center;

}

.graphContainer {
  width: 90%;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  background-color: #11252f;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dataPoint {
  /* Width 90 para o fundo escuro ficar igual em todos*/
  width: fit-content;
  min-width: min(70%, 160px);
  padding: 15px;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  align-content: space-around;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #11252f;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.graphPoint {
  width: min-content;
  min-width: 160px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#logo {
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  align-content: space-around;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 465px;
  min-width: 310px;
  margin-top: 40px;
  margin-bottom: 1px;
}

#loadingSymbol {
  width: 50px;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  align-content: space-around;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

.info {
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.firstInfo {
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 30px;
}

.yellowInfo {
  color: #fddd33;
  font-weight: 900;
  display: inline-block;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#graphPoint__temp{
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  align-content: space-around;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

#graphPoint__temp-info{
  word-wrap: break-word;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  align-content: space-around;
  display: inline-block;
  padding: 10px;
}

#container {
  width: 95%;
  margin: 0 auto;
}

.dataPoint__infotext {
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;
  display: inline-block;
}

#footer {
  margin-top: 70px;
  opacity: 80%;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
